html, body {
	color: #ccc;
	background: #111;
	font: 16px/24px sans-serif;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
a {
	color: #4169e1;
}
a:visited {
	color: #cc33cc;
}
.libcanvas-app,
.libcanvas-app-simple {
	border: 1px solid #666;
	margin: 12px;
}

body.chess .libcanvas-app,
body.chess .libcanvas-app-simple {
	border: 1px dashed green;
	background: #333 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAAAXNSR0IArs4c6QAAAAZQTFRFIiIiMzMzM69ZzAAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfbDA8HExBQqfxoAAAAGXRFWHRDb21tZW50AENyZWF0ZWQgd2l0aCBHSU1QV4EOFwAAABVJREFUCNdj+P+fgYGBigRVDfv/HwDtvT/BRFwEIAAAAABJRU5ErkJggg==');
}
input {
	color: white;
	background: black;
	border:  1px solid #666;
	padding:  2px 10px;
}

#atom-trace-container {
	z-index   : 87223;
	position  : fixed;
	top       : 3px;
	right     : 6px;
	max-width : 70%;
	max-height: 100%;
	overflow-y: auto;
	background: rgba(0,192,0,0.2);
}

.atom-trace-node {
	background : #000;
	border     : 1px dashed #0c0;
	color      : #0c0;
	cursor     : pointer;
	font-family: monospace;
	margin     : 1px;
	min-width  : 200px;
	overflow   : auto;
	padding    : 3px 12px;
	white-space: pre;
}

.atom-trace-node-destroy {
	background : #300;
}

canvas.single {
	border: 1px dashed #660;
}